docs/* linguist-documentation
src/*.py linguist-vendored
src/*.py linguist-language=Python
tools/ThingsBoard-IoT-Platform/Dashbords/*.html linguist-languagee=HTML
tools/ThingsBoard-IoT-Platform/Alarm-Configurations/*.json linguist-language=JSON

src/*.py linguist-detectable=true
tools/ThingsBoard-IoT-Platform/Dashbords/*.html linguist-detectable=true
tools/ThingsBoard-IoT-Platform/Alarm-Configurations/*.json linguist-detectable=true
