docs/* linguist-documentation

*.* linguist-language=Python


src/*.py linguist-detectable=true
tools/ThingsBoard-IoT-Platform/Dashbords/*.html linguist-detectable=true
tools/ThingsBoard-IoT-Platform/Alarm-Configurations/*.json linguist-detectable=true
